@import "../../style";

.todo-container {
  padding: 0 2rem;
  transform: translateY(-12.4rem);
  max-width: 53rem;
  margin: auto;

  .input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $l-light-gray;
    height: 6rem;
    border-radius: 0.4rem;
    column-gap: 1.6rem;
    padding: 0 2rem;
    margin-bottom: 2.4rem;

    .btn-add {
      width: 2.4rem;
      height: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: solid 0.1rem $l-light-grayish-blue;
      transition: all 0.3s ease;

      img {
        width: 2rem;
        opacity: 0;
        transition: all 0.3s ease;
      }

      &:hover {
        border-color: #f071dfde;

        img {
          opacity: 1;
        }
      }
    }

    .input-new-todo {
      font-size: 1.8rem;
      border: none;
      flex: 1;
      outline: none;
      background-color: transparent;
      color: $l-very-dark-grayish-blue;

      &::placeholder {
        color: $l-dark-grayish-blue;
      }
    }
  }

  .input-wrapper.dark {
    background-color: $d-dark-desaturated-blue;

    .btn-add {
      border-color: $d-very-dark-grayish-blue;

      &:hover {
        border-color: #f071dfde;
      }
    }

    .input-new-todo {
      color: $d-light-grayish-blue;
    }
  }

  .todo-wrapper {
    border-radius: 0.4rem 0.4rem 0 0;
    overflow: hidden;
    background-color: $l-light-gray;

    .todos {
      list-style-type: none;
      font-size: 1.8rem;
    }

    .todo-item {
      padding: 0 2rem;
      height: 6rem;
      display: flex;
      align-items: center;
      column-gap: 1.6rem;
      border-bottom: solid 0.1rem $l-light-grayish-blue;
      color: $l-very-dark-grayish-blue;
      cursor: pointer;

      span {
        flex: 1;
      }
    }

    .todo-item.completed {
      span {
        text-decoration: line-through;
      }

      .btn-complete {
        background: linear-gradient(to right, #57ddff, #c058f3);
        border: none;
        img {
          opacity: 1;
        }
      }
    }

    .btn-complete {
      width: 2.4rem;
      height: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: solid 0.1rem $l-light-grayish-blue;
      transition: all 0.3s ease;

      img {
        opacity: 0;
      }

      &:hover {
        border-color: #f071dfde;
      }
    }
  }

  .todos-area {
    border-radius: 0.4rem;
    background-color: $l-light-gray;
  }

  .todos-area.dark {
    background-color: $d-dark-desaturated-blue;
  }

  .todo-wrapper.dark {
    background-color: $d-dark-desaturated-blue;

    .todo-item {
      border-color: $d-very-dark-grayish-blue;
      color: $d-light-grayish-blue;
    }

    .btn-complete {
      border-color: $d-very-dark-grayish-blue;

      &:hover {
        border-color: #f071dfde;
      }
    }
  }
}

@media (width >= 550px) {
  .todo-container {
    padding: 0;
  }
}

// box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
